<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Management Portal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>User count on our system</h1>
    <div class="count-container">
        <p><b>Users</b>: <%= count %></p>
    </div>
    <div class="back-btn">
        <a href="/users">Back</a>
    </div>
    
</body>
</html>