<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Management Portal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Are you sure you want to delete <%= user.first_name %> <%= user.last_name %></h1>
    <form action="/user/<%= user.id %>/delete?_method=Delete"method="post">
        <label for="password">
            Enter your password to delete your account
            <input
              type="password"
              name="password"
              placeholder="Enter your password"
              id="password"
            />
          </label>
        <div class="delete-container">
            <button type="submit" class="delete-btn">Delete</button>
        </div>
    </form>
        <div class="back-btn">
            <a href="/users">Back</a>
        </div>
</body>
</html>